.wrapper {
    max-width: 70rem; /* 1120 divided by 16 */
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
        /* 14 * 100 / 16 -> percentual for 14px instead of 16px */
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}